{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
	<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{% endblock extrahead %}
{% block content %}
<div class="container" style="text-align:center; height:25rem;">
<div class="form-group" style="padding-top:5%;">
	{% csrf_token %}
	<div class="form-group">
            {{form}}
		</div>
            
	<input class="btn btn-primary" type="submit" value="Submit">
	<br>
	<br><p>or</p>
<div class="btn white darken-4 col s10 m4">
     <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
         <div class="left">
             <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
         </div>
         Login with Google
     </a>
</div>	
</div>	
</div>

{% endblock content %}

