{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-content" style="background-color:#D1EEFD">
          <div class="modal-header">
            <h4 style="color:red;font-style:unset"  class="modal-title"><strong>X TIDAK BISA JOIN X</strong></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p style="color:darkkhaki"><strong> Join Event Harus LOGIN terlebih dahulu.<br> Silahkan LOGIN di tombol LOGIN berikut</strong></p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-light" href="{% url 'login' %}" role="button">LOGIN</a>
            <a class="btn btn-info btn-lg" href="{% url 'login' %}" role="button">LOGIN</a>
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
          </div>
        </div>

    </div>
            </div>
  </div>
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-sm-8 col-md-7 col-lg-8 news">

                <br><br><br><br>
                <h1 class="text-center">News</h1> <br><br><br>
                {% for item in object_news %}
                <div class=" row rowing"  >
                    <div class="col-sm-5">
                        <img class="img-fluid imgnews" src={{item.model_pic}}>
                    </div>
                    <div class="col-sm-7 align-self-center text-center">
                        <h2>{{item.newsTitle}}</h2>
                    </div>
                </div><br><br>
                {% endfor %}
                <a class="btn btn-primary detailbut"  href="/news" role="button"><h5>SEE DETAIL</h5></a><br><br>
            </div>

            <div class="col-sm-4 col-md-5 col-lg-4 event">
                <br><br><br><br>
                <h1 class="text-center">Upcoming Event</h1> <br><br><br>

                {% for itm in object_event %}
                <div class=" row rowing"  >
                    <div class="col-sm-5">
                        <img class="img-fluid imgevent" src="{{itm.foto_event}}">
                    </div>
                    <div class="col-sm-7 align-self-center text-center">
                        <h4>{{itm.nama_event}}</h4>
                        {% if user.is_authenticated %}

                        <a class="btn btn-light" href="{% url 'event:join_event' %}" role="button">JOIN</a>
                        {% else %}
                        <!-- <a class="btn btn-light" href="{% url 'login' %}" role="button">JOIN</a> -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">JOIN</button>
                        {% endif %}
                    </div>
                </div><br><br>
                {% endfor %}

                <a class="btn btn-primary detailbut"  href="/events" role="button"><h5>SEE DETAIL</h5></a><br><br>
            </div>
        </div>
  </div>
    </div>
{% endblock %}
