body {
    font-family: "Open Sans", sans-serif;
    background: rgba(221, 236, 240, 0.438)
  }


#about {
  text-align: justify;
  text-align: center;
}
  
  .testimonials {
    overflow: hidden;
    position: relative;
    max-height: 300px;
  }

  hr
{
    background-color: rgb(3, 10, 32);
    border: 0 none;
    color: rgb(3, 10, 32);
    height: 1px;
}
  
  /* .testimonials {
    background: white;
  } */

  .hrku{
    width: 90%;
  }
  .cev {
    color: black;
  }

  h2{
    color: black;
  }
  .message{
    color: black;
  }
  
  .one-slide,
  .testimonial,
  .message {
    border: none !important;
    outline: none !important;
  }

  
  .carousel-controls .control {
    position: absolute;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #000000;
    z-index: 1;
  }
  
  .prev {
    left: -2.25rem;
    color: black;
  }
  
  .next {
    right: -2.25rem;
    color: black;

  }
  
  @media screen and (max-width: 768px) {
    .testimonials {
      max-height: 700px;
    }
    .icon-overlay {
      height: 300px;
      top: calc(50% - 150px);
    }
    .carousel-controls .control {
      width: 25px;
      height: 25px;
      top: inherit;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
    .control i {
      font-size: .7rem;
    }
    .testimonials .message {
      font-size: 1rem;
    }
    .testimonials h2 {
      font-size: 1.5rem;
    }
  }



  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}

.profile {
  height: 150px;
  width: 150px;
}

form {
  padding-left: 20%;
  padding-right: 20%;
}