{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
  	<div class="form-group">
    {{ form.as_p }}
  	</div>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}