{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>    
{% endblock extrahead %}
{% block content %}
<div class="jumbotron" style="background-color:#127FB9; text-align: center">
    <h1 style="font-size : 50px"> ATTENDED EVENT </h1>
</div>
<div class = "container">
    <div class="table-responsive">
        {% if user.is_authenticated %}
            {% if list_event %}
                <h2 style="font-size : 25px;text-align: center"> Event yang pernah didaftarkan {{ user.first_name }} </h2><br>
                <h2 style="font-size : 18px;text-align: left"> Jumlah event yang dihadiri : {{ banyak_event }} </h2>
                <table class = "table table-hover">
                    <thead style="text-align: center">
                        <th> Nama </th>
                        <th> Event yang dikunjungi </th>
                        <th> Tanggal event </th>
                    </thead>
                    <tbody>
                        {% for i in list_event%} 
                        {% for j in list_daftar_event %}
                        <tr>
                            {% if i.event == j.nama_event %}   
                            <td> {{i.nama}} </td>                   
                            <td> {{i.event}} </td>
                            <td> {{j.tanggal}} </td>
                            {% endif %}
                        </tr>  
                        {% endfor %} 
                        {% endfor %}                          
                    </tbody>
                </table>
            {% else %}
                <h2 style="font-size : 30px;text-align: center"> Belum terdaftar di event apapun </h2><br>
            {% endif %}
        {% else %}
            <h2 style="font-size : 30px; text-align: center" > Belum terdaftar, silahkan log-in terlebih dahulu</h2> 
            <button type="button" style="text-align: center" class="btn btn-primary" onclick="window.location.href='/login'"> Login </button>
            <br><br>
        {% endif %}
    </div> 
</div> 
{% endblock %}
