{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock %}
{% block content %}

<div class="container-text" style="background-color:#127FB9; height:196px;">
    <p class="event-test">EVENT</p>
</div>
<div class="event-cotent">
            <h1>Kegiatan yang ada</h1>
    <div class="table-responsive all-table">
        <table class="table ">
            <thead class="thead-light">
               {% if all_event %}
            <tr>

                <th style='background-color: #00A6FF;'>Nama Event</th>
                <th style='background-color: #00A6FF;'>Gambar Event</th>
                <th style='background-color: #00A6FF;'>Tanggal</th>
                <th style='background-color: #00A6FF;'>Deskripsi</th>
                <th style='background-color: #00A6FF;'>Peserta</th>
            </tr>
            <tbody>
                {% for i in all_event %}
                <tr class="table-event">
                    <td style='background-color:#D1EEFD'>{{i.nama_event}}</td>
                    <td style='background-color:#D1EEFD'>
                        <img src="{{i.foto_event}}" style="width:200px;height:150px;">
                    </td>
                    <td style='background-color: #D1EEFD'>{{i.tanggal}}</td>
                    <td style='background-color: #D1EEFD'>{{i.deskripsi}}</td>
                    <td style='background-color:#D1EEFD'>
                    {% for j in participant %}
                    {% if j.event == i.nama_event %}
                        <p>- {{j.nama}} </p>

                    {% endif %}
                    {% endfor %}
                    <hr style="width:100%">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>


{% endblock %}
