{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">NEWS</h1>
    </div>
</div> -->

<div class="jumbotron" style="background-color:#127FB9">
    <h1 style="font-size : 50px" align="center"> NEWS </h1>
</div>

<!-- <div class="block-name">
        <p class="event-text">NEWS</p>
</div> -->
<div class="container">
    <div class = "row">
        <div class="col"> <br> </div>
    </div>
    {% for data in news  %}
    <div class = "row">
        <div class = "col-md-5" >
            <h1> <br> </h1>
            <img src="{{data.model_pic}}" alt="Lights" class="w3-image" height="60%" width="50%" align="right">
        </div>
        <div class = "col-md-5">
            <h1> <br> <br> </h1>
            <h3 align="center">{{ data.newsTitle }}</h3>
            <h3 align="center">{{ data.date }} </h3>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-2" ></div>
        <div class = "col-md-8">
            {{ data.newsDetail }} <br>
        </div>
    </div>

    <div class = "row">
            <div class="col"> <br> </div>
    </div>
    {% endfor %}
</div>

<div>
    <button type="button" class="btn btn-info" onclick="window.location.href='/'"> BACK </button>
    <!-- <button type="button" class="btn btn-primary  ">BACK</button> -->
    <h1> <br></h1>
</div>

<style>
    .jumbotron{
        color: white;
    }

    .btn{
        color: white;
        background-color: #127FB9;
        object-position: bottom;
        text-align: center;
        font-size: xx-large;
        padding: 10;
    }
    .event-text {
        font-size: 3rem;
        text-align: center;
        color: white;
        font-family: 'Helvetica', 'sans-serif';
    }

    .block-name {
        width: 100%;
        background-color: #127FB9;
        height: 4rem;
    }

    .img{
        left: 50%;
        width: auto;
        height: auto;
    }

</style>
{% endblock %}
