.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 35%;
  }

.innerimg{
    height:120px;width:120px;
}

.rowing{
    margin-left:2%; margin-right: 2%;
}

.detailbut{
    margin-left:5%;
}

.event{
    background-color:#00A6FF;
}

.imgevent{
    width: 123px;
    height: 116px;
}

.news{
    background-color:#D1EEFD;
}

.imgnews{
    width: 298px;
    height: 171px;
}

.textbor{
    background: blue;
    margin-left: 30%;
}

.carouselimg{
    height:700px;
    object-fit: cover;
    opacity: 0.85;
}
